<?xml version="1.0"?>
<config addfieldprefix="Joomla\Component\NevigenAudit\Administrator\Field">
	<fieldset name="general" label="COM_NEVIGEN_AUDIT_GENERAL">
		<fieldset name="general_root" label="COM_NEVIGEN_AUDIT_GENERAL">
			<field name="sef_advanced" type="hidden" default="1"/>
			<field name="replace_lists" type="radio"
				   label="COM_NEVIGEN_AUDIT_PARAMS_REPLACE_LISTS"
				   description="COM_NEVIGEN_AUDIT_PARAMS_REPLACE_LISTS_DESC"
				   class="btn-group btn-group-yesno"
				   hint="9307999"
				   default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
			<field name="status_paid" type="statuses"
				   label="COM_NEVIGEN_AUDIT_PARAMS_STATUS_PAID"
				   description="COM_NEVIGEN_AUDIT_PARAMS_STATUS_PAID_DESC"
				   default="6"
				   required="true"
				   multiple="true"
				   layout="joomla.form.field.list-fancy-select"/>
			<field name="status_cancel" type="statuses"
				   label="COM_NEVIGEN_AUDIT_PARAMS_STATUS_CANCEL"
				   description="COM_NEVIGEN_AUDIT_PARAMS_STATUS_CANCEL_DESC"
				   default="3"
				   required="true"
				   multiple="true"
				   layout="joomla.form.field.list-fancy-select"/>
			<field name="order_quick_view" type="radio"
				   label="COM_NEVIGEN_AUDIT_PARAMS_ORDER_QUICK_VIEW"
				   description="COM_NEVIGEN_AUDIT_PARAMS_ORDER_QUICK_VIEW_DESC"
				   class="btn-group btn-group-yesno"
				   hint="9307999"
				   default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
		</fieldset>
	</fieldset>
	<fieldset name="users" label="COM_NEVIGEN_AUDIT_USERS">
		<field name="users_export_all" type="radio"
			   label="COM_NEVIGEN_AUDIT_PARAMS_USERS_EXPORT_ALL"
			   description="COM_NEVIGEN_AUDIT_PARAMS_USERS_EXPORT_ALL_DESC"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="users_export_fields" type="columnsDB"
			   label="COM_NEVIGEN_AUDIT_PARAMS_USERS_EXPORT_FIELDS"
			   table="#__jshopping_users"
			   multiple="true"
			   validateKey="yvrheo"
			   layout="joomla.form.field.list-fancy-select"
			   showon="users_export_all:0"/>
	</fieldset>
	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_nevigen_audit"
			   section="component"/>
	</fieldset>
</config>
